*{
    box-sizing: border-box;
}

body {
    background-color: Darkblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn
{
    height: 40px;
    position: relative;
    cursor: pointer;
    background-color: LightBlue;
    font-size: 1.3rem;
    padding: 1.5rem;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    color: Black;
    cursor: pointer;

    margin: 15px;
    border: 0;
}