*{
    box-sizing: border-box;
}

body {
    background-color: Darkblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn
{
    height: 50px;
    position: relative;
    cursor: pointer;
    background-color: LightBlue;
    border: 0;
}